@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,700;1,400&display=swap'); /* Expletus Sans */

@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap'); /* Nabla */

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@400;700&display=swap'); /* Lemonada */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap'); /* Comfortaa */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap'); /* Fira */



html {
  /* border: 1px darkred solid; */
  margin: 0;
  padding: 0;
  font-family: 'Fira', monospace;
  font-weight: 700;
  font-size: 20px;
  --hdr-ftr-clr: hsla(283, 96%, 47%, 0.95);
  --main-font-col: hsl(200 5% 15%);
  --hf-font-col: hsl(200 5% 15%);
  --banner-col: hsl(180 69% 43%);
  --section-bg: rgba(215, 215, 215, 0.777);
  --card-bg: rgba(255, 240, 253, 0.728);
  --accent-font-col: hsl(30 96% 51%);
  --ld-col: hsla(283, 100%, 67%, 0.95);
  --ld-accent-col: hsl(240 25% 15%);
  --a-visit-col: hsl(270 100% 18%);
  --img-brt: 100%;
}

html.dark {
  color: rgb(221, 221, 221);
  --hdr-ftr-clr: rgba(50, 15, 44, 0.95);
  --main-bg-col: hsl(222 25% 15%);
  --main-font-col: hsl(30 40% 80%);
  --section-bg: rgba(117, 117, 117, 0.777);
  --card-bg: rgba(56, 12, 49, 0.728);
  --ld-col: hsl(240 25% 15%);
  --ld-accent-col: hsla(283, 100%, 67%, 0.95);
  --a-visit-col: rgb(196, 255, 100);
  --img-brt: 80%;
  --bg-filter: invert(80%);
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./images/site-background-1.jpg) fixed center / cover;
  animation: bg-change 15s ease-in-out infinite alternate;
  overflow-x: hidden;
}

@keyframes bg-change {
  0% {background-image: url(./images/bg-v2-1.png);}
  100% {background-image: url(./images/bg-v2-2.png);}
  /* 0% {background-image: url(./images/site-background-1.jpg);}
  50% {background-image: url(./images/site-background-2.jpg);}
  100% {background-image: url(./images/site-background-3.jpg);} */
}

.bg-filter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  backdrop-filter: var(--bg-filter);
}

header, footer {
  width: 100%;
  max-width: 100%;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 70px;
  font-size: 2rem;
  background-color: var(--hdr-ftr-clr);
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
  align-items: center;
}

main {
  padding: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 2vh 0 5vh 0;
  background-color: var(--hdr-ftr-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main > section {
  width: 80%;
  max-width: 80%;
  border-radius: 12px;
  padding: 24px;
  background-color: var(--section-bg);
}

h1 {
  margin-left: 3%;
  align-self: flex-start;
  color: rgb(237, 237, 237);
  font-size: 4rem;
  text-shadow: 0px 0px 8px #000, 4px 4px 16px #000A;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 16px;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

ol {
  margin-top: 12px;
}

button {
  font-size: 1.2rem;
  border: 2px gray solid;
  border-radius: 4px;
  padding: 4px;
}

dt {
  font-weight: bold;
}

a, a:visited {
  color: var(--a-visit-col);

}

main > section:nth-of-type(even) {
  margin-left: 10%;
}

main > section:nth-of-type(odd) {
  margin-right: 10%;
}

footer {
  text-align: center;
}



.logo {
  margin: 4px;
  padding: 0;
  height: 80px;
  width: 80px;
  position: relative;
  top: 0.5rem;
  display: grid;
  place-content: center;
}

.logo img {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px hsl(0 0% 20%) solid;
  border-radius: 50%;
  padding: 0;
}

.nav {
  padding-left: 2px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(150px, 15vh);
  column-gap: 2px;
  place-items: stretch;
}

.nav li {
  width: 100%;
  /* background-color: var(--hdr-ftr-clr); */
  display: flex;
  align-items: stretch;
  flex: 1 0 0;
}

.nav a{
  width: 100%;
  /* flex-grow: 1; */
  display: grid;
  place-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav li:hover {
  background-color: hsla(312, 90%, 40%, 0.95);
}

.hero {
  padding-right: 2rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
}

.hero-text {
  margin: 5vh 0;
  padding-left: 5vw;
  min-width: 30vw;
  max-width: 40vw;
  flex: 1 1 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
}

.hero-graphics {
  align-self: center;
  rotate: -7deg;
  display: grid;
  grid-template-columns: repeat(3, 2rem) 32rem repeat(3, 2rem);
  grid-template-rows: repeat(7, 5rem);
  place-items: start end;
}

.hero-graphics canvas {
  border: 2px solid gray;
  border-radius: 10px;
  overflow: visible;
  box-shadow: 5px 5px 8px 2px rgba(73, 73, 73, 0.846);
  transition: scale 200ms ease-in-out;
}

.hero-graphics canvas:hover {
  scale: 1.2;
  rotate: 7deg;
  translate: 0 2rem;
  z-index: 1;
}

.hero-graphics > *:nth-child(1) {
  grid-column: 3/8;
  grid-row: 1/5;
}

.hero-graphics > *:nth-child(2) {
  grid-column: 2/7;
  grid-row: 2/6;
}

.hero-graphics > *:nth-child(3) {
  grid-column: 1/6;
  grid-row: 3/9;
}

.content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.content > h3 {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  gap: 3rem;
}

.card {
  border-radius: 16px;
  padding-top: 1rem;
  position: relative;
  flex: 1 1 30%;
  max-width: 60% !important;
  box-shadow: 4px 4px 6px 0 gray;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  transition: all 150ms ease-in-out;
}

.card:hover {
  scale: 1.03;
  rotate: -0.5deg;
  box-shadow: 0 0 0.3rem 0.1rem pink;
}

.card p {
  margin: 0 1rem;
}


.card-button {
  margin: 0;
  border-radius: 0 0 14px 14px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: rgb(118, 118, 240);
  color: white;
  font-size: 1rem;
}

.card-button:hover {
  background-color: rgb(195, 118, 240);
}

.graphics {
  border: 2px var(--bdr-clr) solid;
  background-color: lightgrey;
  margin: 16px;
}

.graphics > canvas:not(:last-of-type) {
  position: absolute;
}



#ld-switch {
  border: 3px dashed;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  z-index: 1;
  height: 50px;
  width: 50px;
  top: 80px;
  right: 5vh;
  background-color: var(--ld-col);
  color: var(--ld-accent-col);
  transition: all 250ms ease-in-out;
  font-size: 0.7rem;
}

#ld-switch:hover {
  /* height: 60px;
  width: 60px; */
  scale: 1.2;
  background-color: var(--ld-accent-col);
  color: var(--ld-col);
  cursor: pointer;
}

#blurb {
  margin-left: 5%;
  border-radius: 6px;
  padding: 24px 48px 24px 24px;
  width: 85%;
  align-self: flex-start;
  background-color: hsla(0, 0%, 40%, 0.7);
  color: rgb(254, 254, 241);
}

#blurb > * {
  font-size: 1.5rem;
}

#bio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#bio img {
  margin: 0 auto;
  width: 90%;
  align-self: center;
  border-radius: 8px;
}

#quizzes {
  text-align: center ;
}

#quizzes > div {
  border: 4px var(--bdr-clr) solid;
  border-radius: 8px;
  background-color: var(--card-bg);
  margin: 8px;
  padding: 8px; 
}

#quizzes select {
  margin: 10px 0;
}

#quizzes button {
  margin: 20px 0;
}

#portfolio {
  width: 100%;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#project-list li {
  margin-left: 16px;
  margin-right: 16px;
  flex: 1 1 auto;
  min-width: 25%;
  max-width: 200px;
}

#top-10 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#top-10 > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  min-width: 25%;
  max-width: 45%;
}

#top-10 li {
  list-style-type: decimal;
}

#canvases {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

